::ng-deep .CurrencyText {
    color: rgb(89, 89, 89);
    width: 100%;
    display: flex;
}

@media (max-width: 640px) {
    tr {
        border-top: solid 2px #285c7e;
    }

    td {
        text-align: right !important
    }
}

@media (max-width: 780px) {
    .pi-search {
        display: none;
    }
}


@media (max-width: 868px) {
    [inputStyleClass$='filter'] {
        display: none;
    }
}

/*לבדוק למה לא עובד?? */

/* הסתרת האיקון בלוח שנה במסך קטן */

@media (max-width: 868px) {
    [showIcon$='true'] {
        display: none;
    }
}

@media (max-width: 868px) {
    .elem-pl {
        padding-left: 10px;
    }
}

.SortBtn,
.sortIcon {
    border: none;
    background-color: transparent;
}

.excelContainer {
    display: grid;
    place-items: flex-end;

    .excelStyle {
        width: fit-content;
    }
}