::ng-deep .p-button-icon-only {
    width: 2em;
    box-sizing: border-box;
    text-indent: 0px !important;
    white-space: nowrap;
    color: #285c7e !important;
}

::ng-deep .ng-star-inserted:not(.p-datatable-table .ng-star-inserted) {
    border: none !important;
    background: none !important;
    color: #285c7e !important;
}


::ng-deep .p-paginator {
    direction: ltr !important;

}

// ::ng-deep .ui-datepicker {
//     display: block !important;

// }


// ::ng-deep .ui-datepicker-header {
//     background-color: transparent !important;
//     border: none;
// }

// ::ng-deep .ui-datepicker select.ui-datepicker-month,
// ::ng-deep .ui-datepicker select.ui-datepicker-year {
//     color: #285c7e !important;
//     filter: none;
// }

::ng-deep .p-highlight {
    background-color: white !important;
}

::ng-deep .CurrencyText {
    color: rgb(89, 89, 89);
    width: 100%;
    display: flex;
}

::ng-deep .form-control {
    border: solid 1px #285c7e;
    border-radius: 7px !important;
    background-color: #fff;
    padding: 0 5px 0 1.5em !important;
    display: inline !important;
}

.p-datatable th,
.p-datatable td {
    //couldnt resolve
    padding: 5.5px !important;
}

.p-datatable {
    //couldnt resolve
    min-height: 350px;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

::ng-deep .p-highlight {
    color: #285c7e !important;
    text-decoration: underline;
    font-family: Arial;
}

::ng-deep .p-datatable th {
    width: 140px;
}

::ng-deep .p-autocomplete-item {
    text-align: right !important;
}

::ng-deep th .ui-autocomplete-list-item {
    font-family: Arial;
}

::ng-deep th .ui-state-highlight {
    font-weight: bold !important;
    font-family: Arial !important;
}

::ng-deep .ui-state-highlight,
::ng-deep .ui-state-highlight mark {
    background-color: #f9f9f9;
}

::ng-deep .ui-widget .filter {
    font-family: Arial;
}

// ::ng-deep .ui-autocomplete-dropdown {
//     top: 0;
//     left: 0;
//     display: block;
//     position: absolute;
// }

::ng-deep .ui-calendar {
    width: 100%;
}

::ng-deep .text-right {
    text-align: right !important;
}

::ng-deep .p-button-icon-only {
    left: -3px;
    position: relative;
}

@media (max-width: 640px) {
    tr {
        border-top: solid 2px #285c7e;
    }

    td {
        text-align: right !important
    }
}

/* הסתרת אייקון החיפוש במסך קטן */

@media (max-width: 780px) {
    .pi-search {
        display: none;
    }
}

/* הסתרת הפילטורים במסך קטן */

@media (max-width: 868px) {
    [inputStyleClass$='filter'] {
        display: none;
    }
}

/*לבדוק למה לא עובד?? */

/* הסתרת האיקון בלוח שנה במסך קטן */

@media (max-width: 868px) {
    [showIcon$='true'] {
        display: none;
    }
}

@media (max-width: 868px) {
    .elem-pl {
        padding-left: 10px;
    }
}

::ng-deep .ui-paginator-element {
    background-color: white !important;
    color: #285c7e;
    font-weight: normal;
    font-family: Arial;
    font-size: 17px !important;
}

::ng-deep .ui-paginator {
    background-color: white !important;
    border: none;
    padding-top: 10px;
}


/* סידור החיצים בפקד התאריך מימין לשמאל  */

::ng-deep .ui-datepicker-prev {
    right: .125em !important;
    left: auto !important;
}

::ng-deep .pi-chevron-left:before {
    content: "\e901" !important;
    color: #285c7e;
}

::ng-deep .ui-datepicker-next {
    left: .125em !important;
    right: auto !important;
}

::ng-deep .pi-chevron-right:before {
    content: "\e900" !important;
    color: #285c7e;
}

/* הסתרת אייקון מיון שמוצג קבוע על מנת שיוצג רק בעת מיון */
::ng-deep .pi-sort {
    display: none;
}


/* הגדרת צבע אייקונים של המיון */
::ng-deep .pi-sort-up,
::ng-deep .pi-sort-down {
    color: #285c7e;
}

.SortBtn,
.sortIcon {
    border: none;
    background-color: transparent;
}

.ui-sortable-column-icon:focus {
    border: none !important;
    outline: none !important;
}

::ng-deep .p-paginator-next,
::ng-deep .p-paginator-prev{
    border: none !important;
    background: transparent !important;
}

::ng-deep .p-disabled{
    cursor: not-allowed;
    opacity: 0.6;
}

::ng-deep .p-datatable-table tbody tr td{
    padding: .25em .5em;
}